---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    I am currently a Ph.D. student in computational Linguistics at Georgetown University, where I belong to <a href=https://gucl.georgetown.edu/ target="_blank">GUCL</a> and <a href=http://nert.georgetown.edu/ target="_blank">NERT</a>. Under the supervision of <a href=https://people.cs.georgetown.edu/nschneid/>Nathan Schneider</a> and <a href=https://gucorpling.org/amir/>Amir Zeldes</a>, I am currently working on a project on classifying Japanese adpositinal supersense using <a href=https://arxiv.org/abs/1704.02134>Semantic Network of Adposition and Case Supersenses (SNACS)</a>, and on expanding <a href=https://www.sfu.ca/rst/01intro/intro.html>rhetorical structure theory (RST)</a> by creating and examining an anchored RST corpus.
</p>
  <p>
    Broadly, my research interests lie in using statistical and computational approahces to study various linguistic phenomena, especially ones that involve non-native English texts. For example, my M.A. thesis focused on quantifying how the use of the English articles by Chinese and Japanese speakers deviate from that of native speakers, leveraging a modeling technique called <a href=https://www.euppublishing.com/doi/abs/10.3366/cor.2014.0053>Multifactorial Prediction and Deviation Analysis with Regressions (MuPDAR)</a>.
  </p>
  <!--p>
    
    My research uses tools from statistics to make machine learning systems more robust and reliable &#8212; especially in challenging tasks involving natural language. The goal of my research is to use robustness and worst-case performance as a lens to understand and make progress on several fundamental challenges in machine learning and natural language processing. A few topics of recent interest are,
    
    <dl style="PADDING-LEFT: 40px">
    <dt><b>Long-tail behavior</b></dt> <dd>How can we ensure that a machine learning system won't fail catastrophically in the wild under changing conditions?</dd>
    <dt><b>Understanding</b></dt>
    <dd>A system which <i> understands </i> how to answer questions or generate text should also do so robustly out-of-domain. </dd>
    <dt><b>Fairness</b></dt>  <dd>Machine learning systems which rely on unreliable correlations can result in spurious and harmful predictions.</dd>
    </dl>

  </p-->
  <p>
    Prior to joining Georgetown, I obtained a B.A. in Liberal Arts from Soka University of America, where my main focus was Psychology and Economics (but I wrote my thesis on a topic related Second Language Acquisition). Subsequently, I pursued an M.A. in Teaching English to Speakers of Other Languages (TESOL) at Michigan State University under the supervision of <a href=https://sites.google.com/site/sandracdeshors/home target="_blank">Sandra Deshors</a> and <a href=https://www.egr.msu.edu/people/profile/kristenj target="_blank">Kristen Johnson</a>. 
  </p>

</div>

<!-- ========== PROJECTS ========== -->


<div class="docs-section" id="projects">

  <h4>Recent Research Areas</h4>
</div>

<!--
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#proj-cur">Current Projects</div></li>
    <li><div class="button" data-ref="#proj-past">Past</div></li>    
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="proj-cur">
--!>


      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <center>
                  <b>{{ project.title }}</b> <br/>
                  </center>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
<!---      </div>
   </div>
---!>

</div>




<!-- ========== PUBLICATIONS ========== -->


<!-- old people 
<div class="docs-section" id="people">
  <h4>Advisees</h4>


  <ul class="tab-nav">
    <li><div class="button active" data-ref="#current">Current</div></li>
    <li><div class="button" data-ref="#former">Former</div></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="current">
      {% assign current_people = site.data.students.students | where: "category", "current" %}
      {% for person in current_people %}
        <div class="paper">
          <p class="title"><b>{{ person.name }}</b> ({{ person.time }})</p>
          <p><i>{{ person.place }}</i></p>
          {% if person.current %}
          <p> {{ person.current }} </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="former">
      {% assign former_people = site.data.students.students | where: "category", "former" %}
      {% for person in former_people %}
        <div class="paper">
          <p class="title"><b>{{ person.name }}</b> ({{ person.time }})</p>
          <p><i>{{ person.place }}</i></p>
          {% if person.current %}
          <p> {{ person.current }} </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    
  </div>
</div>
-->


<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="https://scholar.google.com/citations?user=AvhNwScAAAAJ&hl=en" target="_blank">Google Scholar</a>.</p>

  <ul class="tab-nav">
    <!--li><div class="button" data-ref="#papers-sel">Selected and Recent Papers</div></li-->
    <li><div class="button active" data-ref="#papers-all">All</div></li>
    <li><div class="button" data-ref="#papers-NLP">NLP</div></li>
    <li><div class="button" data-ref="#papers-SLA">SLA</div></li>
  </ul>

  <div class="tab-content">
<!--
    <div class="tab-pane active" id="papers-sel">
      {% assign papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>
-->
    <!-- All PAPERS -->
    <div class="tab-pane active" id="papers-all">
      {% assign papers = site.data.publications.papers %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>


    <!-- NLP PAPERS -->
    <div class="tab-pane" id="papers-NLP">
      {% assign nlp_papers = site.data.publications.papers | where: "nlp", "y" %}
      {% for paper in nlp_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>    

    <!-- SLA PAPERS -->
    <div class="tab-pane" id="papers-SLA">
      {% assign sla_papers = site.data.publications.papers | where: "sla", "y" %}
      {% for paper in sla_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>
 
  </div>
</div>



<div class="docs-section" id="teaching">
  <h4>Teaching</h4>
  {% assign current_classes = site.data.classes.classes | where: "category", "current" %}
  {% for class in current_classes %}
  <div class="class">
    <p class="title"><b>{{ class.name }}</b> ({{ class.time }}): <a href={{class.link}} target="_blank">{{ class.title }}</a></p>
  </div>
  {% endfor %}
</div>


<div class="docs-section" id="talks">
  <h4>Talks and slides</h4>
  {% assign current_talks = site.data.talks.talks | where: "category", "current" %}
  {% for talk in current_talks %}
  <div class="talk">
    <p class="title"><b>{{ talk.name }}</b> ({{ talk.time }}): <a href={{talk.link}} target="_blank">{{ talk.title }}</a></p>
  </div>
  {% endfor %}
</div>




<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Resume</h4>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


  <div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>
  </p>

</div>
