---
layout: default
title: Home
---
<!-- ========== BIO ========== -->

<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    I am currently a 5th year Ph.D. candidate in Computational Linguistics at Georgetown University, where I belong to <a href=http://nert.georgetown.edu/ target="_blank">NERT</a>, <a href=https://gucorpling.org/corpling/ target="_blank">Corpling</a>, <a href=https://picol-georgetown.github.io/ target="_blank">PICoL</a>, and the larger <a href=https://gucl.georgetown.edu/ target="_blank">GUCL</a> community. Broadly, my research interests include topics in computational psycholinguistics. In particular, I am interested in the following areas: (1) language acquisition and pretraining dynamics, (2) language processing, and (3) interpretability. I find it very exciting to apply these lines of work to model human language cognition. 
</p>
  <p>
    I am also interested in linguistic formalisms that capture linguistic phenomena at various levels. For example, I am working on developing a novel approach to Combinatory Categorial Grammar (CCG) supertagging with <a href=https://people.cs.georgetown.edu/nschneid/>Nathan Schneider</a>, and on expanding <a href=https://www.sfu.ca/rst/01intro/intro.html>rhetorical structure theory (RST)</a> by creating and examining an anchored RST corpus with <a href=https://gucorpling.org/amir/>Amir Zeldes</a>.
  </p>
  <!--p>
    
    My research uses tools from statistics to make machine learning systems more robust and reliable &#8212; especially in challenging tasks involving natural language. The goal of my research is to use robustness and worst-case performance as a lens to understand and make progress on several fundamental challenges in machine learning and natural language processing. A few topics of recent interest are,
    
    <dl style="PADDING-LEFT: 40px">
    <dt><b>Long-tail behavior</b></dt> <dd>How can we ensure that a machine learning system won't fail catastrophically in the wild under changing conditions?</dd>
    <dt><b>Understanding</b></dt>
    <dd>A system which <i> understands </i> how to answer questions or generate text should also do so robustly out-of-domain. </dd>
    <dt><b>Fairness</b></dt>  <dd>Machine learning systems which rely on unreliable correlations can result in spurious and harmful predictions.</dd>
    </dl>

  </p-->
  <p>
<span class="venue-icon" style="display: inline-block; background: #eaeaea; padding: 0.4em 0.6em;">ACL</span>
    Prior to joining Georgetown, I obtained a B.A. in Liberal Arts from Soka University of America, where my main focus was Psychology and Economics (although I wrote my thesis on a topic related to Second Language Acquisition!). Subsequently, I pursued an M.A. in Teaching English to Speakers of Other Languages (TESOL) at Michigan State University, where I was co-advised by <a href=https://sites.google.com/site/sandracdeshors/home target="_blank">Sandra Deshors</a> and <a href=https://www.egr.msu.edu/people/profile/kristenj target="_blank">Kristen Johnson</a>. My M.A. thesis focused on quantifying how Chinese and Japanese speakers' use of the English articles deviates from that of native speakers, leveraging a modeling technique called <a href=https://www.euppublishing.com/doi/abs/10.3366/cor.2014.0053>Multifactorial Prediction and Deviation Analysis with Regressions (MuPDAR)</a>. 
  </p>

<!--/div>


<!-- ========== PUBLICATIONS ========== -->

<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="https://scholar.google.com/citations?user=AvhNwScAAAAJ&hl=en" target="_blank">Google Scholar</a>.</p>

  <ul class="tab-nav">
    <!--li><div class="button" data-ref="#papers-sel">Selected and Recent Papers</div></li-->
    <li><div class="button" data-ref="#papers-sel">Selected</div></li>
    <li><div class="button active" data-ref="#papers-all">All</div></li>
    <li><div class="button" data-ref="#papers-NLP">NLP</div></li>
    <li><div class="button" data-ref="#papers-SLA">SLA</div></li>
  </ul>

  <div class="tab-content">

    <!-- SELECTED PAPERS -->

    <div class="tab-pane" id="papers-sel">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
	  {% assign years = "2022" %}
      {% for paper in selected_papers %}
	  {% assign year = paper.year | prepend: "," %}
	  {% assign years = years | append: year %}
      {% endfor %}
      {% assign  year_list = years | split: "," | uniq | sort | reverse %}
	  {% for year in year_list %}
		<h5>{{ year }}</h5>
		  {% for paper in selected_papers %}
			{% if paper.year == year %}
				<div class="paper">
					<div class="paper-header" style="display: flex; align-items: center;">
					  {% if paper.venue_icon %}
						<span class="venue-icon">{{ paper.venue_icon }}</span>
					  {% endif %}
					  <div class="paper-info" style="display: flex; flex-direction: column;">
						  <p class="title"><b>{{ paper.title }}</b>
							{% if paper.paper_pdf %}
							  <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
							{% endif %}
							{% if paper.slides %}
							  <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
							{% endif %}
							{% if paper.poster %}
							  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
							{% endif %}
							{% if paper.video %}
							  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
							{% endif %}
							{% if paper.code %}
							  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
							{% endif %}
						  </p>
						  <p>{{ paper.authors | replace: "Tatsuya Aoyama", "<b>Tatsuya Aoyama</b>" }}</p>
						  <p><i>{{ paper.venue }}</i></p>
						  <div class="paper-buttons"></div>
					  </div>
					</div>
				</div>
			{% endif %}
		  {% endfor %}
	{% endfor %}
    </div>

    <!-- All PAPERS -->

    <div class="tab-pane active" id="papers-all">
	  {% assign papers = site.data.publications.papers %}
	  {% assign years = "2020" %}
      {% for paper in papers %}
	  {% assign year = paper.year | prepend: "," %}
	  {% assign years = years | append: year %}
      {% endfor %}
      {% assign  year_list = years | split: "," | uniq | sort | reverse %}
	  {% for year in year_list %}
		<h5>{{ year }}</h5>
		  {% for paper in papers %}
			{% if paper.year == year %}
				<div class="paper">
					<div class="paper-header" style="display: flex; align-items: center;">
					  <div class="venue-icon-wrapper">
						{% if paper.venue_icon %}
						<span class="venue-icon">{{ paper.venue_icon }}</span>
					  </div>
					</div>
					  {% endif %}
					  <div class="paper-info" style="display: flex; flex-direction: column;">
						  <p class="title"><b>{{ paper.title }}</b>
							{% if paper.paper_pdf %}
							  <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
							{% endif %}
							{% if paper.slides %}
							  <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
							{% endif %}
							{% if paper.poster %}
							  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
							{% endif %}
							{% if paper.video %}
							  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
							{% endif %}
							{% if paper.code %}
							  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
							{% endif %}
						  </p>
						  <p>{{ paper.authors | replace: "Tatsuya Aoyama", "<b>Tatsuya Aoyama</b>" }}</p>
						  <p><i>{{ paper.venue }}</i></p>
						  <div class="paper-buttons"></div>
					  </div>
					</div>
				</div>
			{% endif %}
		  {% endfor %}
	{% endfor %}
    </div>


    <!-- NLP PAPERS -->
    <div class="tab-pane" id="papers-NLP">
      {% assign nlp_papers = site.data.publications.papers | where: "nlp", "y" %}
	  {% assign years = "2020" %}
      {% for paper in nlp_papers %}
	  {% assign year = paper.year | prepend: "," %}
	  {% assign years = years | append: year %}
      {% endfor %}
      {% assign  year_list = years | split: "," | uniq | sort | reverse %}
	  {% for year in year_list %}
		<h5>{{ year }}</h5>
		  {% for paper in nlp_papers %}
			{% if paper.year == year %}
				<div class="paper">
					<div class="paper-header" style="display: flex; align-items: center;">
					  {% if paper.venue_icon %}
						<span class="venue-icon">{{ paper.venue_icon }}</span>
					  {% endif %}
					  <div class="paper-info" style="display: flex; flex-direction: column;">
						  <p class="title"><b>{{ paper.title }}</b>
							{% if paper.paper_pdf %}
							  <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
							{% endif %}
							{% if paper.slides %}
							  <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
							{% endif %}
							{% if paper.poster %}
							  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
							{% endif %}
							{% if paper.video %}
							  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
							{% endif %}
							{% if paper.code %}
							  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
							{% endif %}
						  </p>
						  <p>{{ paper.authors | replace: "Tatsuya Aoyama", "<b>Tatsuya Aoyama</b>" }}</p>
						  <p><i>{{ paper.venue }}</i></p>
						  <div class="paper-buttons"></div>
					  </div>
					</div>
				</div>
			{% endif %}
		  {% endfor %}
	{% endfor %}
    </div>

    <!-- SLA PAPERS -->
    <div class="tab-pane" id="papers-SLA">
      {% assign sla_papers = site.data.publications.papers | where: "sla", "y" %}
	  {% assign years = "2020" %}
      {% for paper in sla_papers %}
	  {% assign year = paper.year | prepend: "," %}
	  {% assign years = years | append: year %}
      {% endfor %}
      {% assign  year_list = years | split: "," | uniq | sort | reverse %}
	  {% for year in year_list %}
		<h5>{{ year }}</h5>
		  {% for paper in sla_papers %}
			{% if paper.year == year %}
				<div class="paper">
					<div class="paper-header" style="display: flex; align-items: center;">
					  {% if paper.venue_icon %}
						<span class="venue-icon">{{ paper.venue_icon }}</span>
					  {% endif %}
					  <div class="paper-info" style="display: flex; flex-direction: column;">
						  <p class="title"><b>{{ paper.title }}</b>
							{% if paper.paper_pdf %}
							  <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
							{% endif %}
							{% if paper.slides %}
							  <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
							{% endif %}
							{% if paper.poster %}
							  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
							{% endif %}
							{% if paper.video %}
							  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
							{% endif %}
							{% if paper.code %}
							  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
							{% endif %}
						  </p>
						  <p>{{ paper.authors | replace: "Tatsuya Aoyama", "<b>Tatsuya Aoyama</b>" }}</p>
						  <p><i>{{ paper.venue }}</i></p>
						  <div class="paper-buttons"></div>
					  </div>
					</div>
				</div>
			{% endif %}
		  {% endfor %}
	{% endfor %}
    </div>
 
  </div>
</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="experience">
  <h4>Experience</h4>
  <!--p><a href="{{ site.data.main_info.github }}/t-aoyam.github.io{{ site.data.main_info.cv }}">Download Full CV</a></p-->
  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
</div>


<div class="docs-section" id="talks">
  <h4>Talks</h4>
  {% assign current_talks = site.data.talks.talks | where: "category", "current" %}
  {% for talk in current_talks %}
  <div class="talk">
    <p class="title"><b>{{ talk.name }}</b> ({{ talk.time }}): <!--a href={{talk.link}} target="_blank"-->{{ talk.title }}<!--/a--></p>
  </div>
  {% endfor %}
</div>


<div class="docs-section" id="teaching">
  <h4>Teaching</h4>
  {% assign current_classes = site.data.classes.classes | where: "category", "current" %}
  {% for class in current_classes %}
  <div class="class">
    <p class="title"><b>{{ class.name }}</b> ({{ class.time }}): <a href={{class.link}} target="_blank">{{ class.title }}</a></p>
  </div>
  {% endfor %}
</div>


<!-- ========= ACKNOWLEDGEMENT ========== -->
<div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>
  </p>

</div>
