{%- comment -%}
Inputs: include.paper (object with title, authors, venue, venue_icon, year, paper_pdf, slides, poster, video, code)
{%- endcomment -%}

<div class="paper">
  <div class="paper-main">
    {% if include.paper.venue_icon %}
    <div class="venue-icon-wrapper"><span class="venue-icon">{{ include.paper.venue_icon }}</span></div>
    {% endif %}

    <div class="paper-meta">
      <p class="title"><b>{{ include.paper.title }}</b></p>
      <p class="authors">{{ include.paper.authors | replace: "Tatsuya Aoyama", "<b>Tatsuya Aoyama</b>" }}</p>
      <p class="venue"><i>{{ include.paper.venue }}</i></p>
    </div>
  <div class="paper-links">
    {% if include.paper.paper_pdf %}<a class="button" href="{{ include.paper.paper_pdf | relative_url }}" target="_blank">PDF</a>{% endif %}
    {% if include.paper.slides %}<a class="button" href="{{ include.paper.slides | relative_url }}" target="_blank">Slides</a>{% endif %}
    {% if include.paper.poster %}<a class="button" href="{{ include.paper.poster | relative_url }}" target="_blank">Poster</a>{% endif %}
    {% if include.paper.video %}<a class="button" href="{{ include.paper.video }}" target="_blank">Video</a>{% endif %}
    {% if include.paper.code %}<a class="button" href="{{ include.paper.code }}" target="_blank">Code</a>{% endif %}
  </div>
  </div>
</div>
